/* css for contact page */

/* contact class starts below header/navbar */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.contact__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 50px;
}

.contact__container .contact__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 50px;
}

.contact__container .contact__left .contact__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.contact__container .contact__left .contact__text {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.contact__left .contact__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
}

.contact__left .contact__info .contact__info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.contact__info-box > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
}

.contact__info-box > div > i {
  font-size: 1.5rem;
  margin-right: 10px;
}

.contact__info-box > div > h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

.contact__container .contact__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.contact__right .contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
}

.contact__form .contact__input {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px;
}

.contact__form .contact__button {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px;
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
}

/* an alert notification on top right corner */

.alert {
  position: fixed;
  top: 10px;
  right: 0;
  width: 300px;
  padding: 20px;
  background-color: #f00;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: all 0.5s ease-in-out;
  animation: alert 0.5s ease-in-out;
}

.alert-success {
  background-color: #00ff00;
}

.alert-error {
  background-color: #ff0000;
}

@keyframes alert {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.alert .closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}
