@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Maven Pro', sans-serif;
}

/* Navigation */
.header {
    background-color: #fff;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
}

.nav .nav__logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.nav .nav__logo a {
    color: #000;
    text-decoration: none;

}

.nav .nav__logo a:hover {
    color: #000;
}

.nav .nav__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}

.nav .nav__links {
    list-style: none;
    margin-left: 2rem;
}

.nav .nav__links a {
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.2s ease;
}

.nav .nav__links a:hover {
    color: #000;
    border-bottom: 5px solid #000;
}

.featured {
    background-color: #fff;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
}

.featured .featured__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.featured .featured__container h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 1rem;
}

.featured .featured__container p {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
    margin-bottom: 2rem;
}

.featured .featured__container .featured__products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.featured .featured__container .featured__products .featured__product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: #fff;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.featured .featured__container .featured__products .featured__product:hover {
    transform: translateY(-5px);
}

.featured__product .featured__product__img {
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
}

.featured__product .featured__product__info {
    width: 100%;
    height: 50%;
    padding: 1rem;
}

.featured__product .featured__product__info h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
    margin-bottom: 1rem;
}

.featured__product .featured__product__info p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
    margin-bottom: 1rem;
}

.featured__product .featured__product__info a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.2s ease;
}

.products {
    background-color: #fff;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
}

.products .products__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.products .products__container h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 1rem;
}

.products .products__container p {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
    margin-bottom: 2rem;
}

.products__container .products__grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.products__container .products__grid .products__grid__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: #fff;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.products__container .products__grid .products__grid__item:hover {
    transform: translateY(-5px);
}

.products__grid__item .products__grid__item__img {
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
}

.products__grid__item .products__grid__item__info {
    width: 100%;
    height: 50%;
    padding: 1rem;
}

.products__grid__item .products__grid__item__info h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
    margin-bottom: 1rem;
}

.products__grid__item .products__grid__item__info p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
    margin-bottom: 1rem;
}

.products__grid__item .products__grid__item__info a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.2s ease;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.pagination .pagination__link {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.2s ease;
    margin: 0 0.5rem;
}

.pagination .pagination__link:hover {
    background-color: #fff;
    color: #000;
}

.footer {
    background-color: #000;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
    margin-top: 10rem;
    /* make footer stay at bottom always */
    position: relative;
    bottom: 0;
}

.footer .footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer .footer__container h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
}

.footer .footer__container p {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 2rem;
}

.footer__container .footer__links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer__links .footer__links__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    transition: all 0.2s ease;
}

.footer__links .footer__links__item h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 1rem;
}

.footer__links .footer__links__item a {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.2s ease;
}

.footer__container .footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.hero__container .hero__container__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__container .hero__container__info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
}

.hero__container .hero__container__info h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
}

.hero__container .hero__container__info p {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 2rem;
}

.hero__container .hero__container__info a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.2s ease;
}

.hero__container .hero__container__info a:hover {
    background-color: #000;
    color: #fff;
}

.products__container .products__grid .products__grid__item:hover {
    transform: translateY(-5px);
}

.about{
    background-color: #000;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
    margin-top: 10rem;
}
.about__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.about__title {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
}
.about__subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 2rem;
}
.about__container .about__links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.about__container .about__links .about__links__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    transition: all 0.2s ease;
}
.about__container .about__links .about__links__item h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 1rem;
}

.about__container .about__links .about__links__item a {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.2s ease;
}

.about__container .about__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}
.about__container .about__social .about__social__item {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.2s ease;
    margin: 0 0.5rem;
}

.about__container .about__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.about__container .about__info .about__info__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    transition: all 0.2s ease;
}

.about__container .about__info h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 1rem;
}

.about__container .about__info  p {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 1rem;
}

.about__container .about__info .about__info__item a {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.2s ease;
}

.about__container .about__info .about__info__item a:hover {
    background-color: #000;
    color: #fff;
}

/* team  */

.team {
    background-color: #000;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
    margin-top: 10rem;
}

.team__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.team__title {
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

/* .team__title h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 2rem;
} */

.team__subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 2rem;
}

.team__container .team__links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.team__members {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.team__member{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    transition: all 0.2s ease;
}

.team__member .team__member__img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
}

.team__member .team__member__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team__member .team__member__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.team__member .team__member__info h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 1rem;
}

.team__member .team__member__info p {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 1rem;
}

/* contact form  */
.contact {
    background-color: #000;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
    margin-top: 10rem;
}

.contact__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.contact__title {
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.contact__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.contact__form__group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
}

.contact__form__group label {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 1rem;
}

.contact__form__group input {
    width: 300px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    background-color: #000;
    border-bottom: 1px solid #fff;
}

.contact__form__group textarea {
    width: 300px;
    height: 150px;
    border: none;
    outline: none;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    background-color: #000;
    border-bottom: 1px solid #fff;
}

.contact__form__group button {
    width: 300px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    background-color: #000;
    border-bottom: 1px solid #fff;
    margin-top: 1rem;
}


